cycler==0.9.0
decorator==4.0.9
Django==1.9.2
django-bootstrap-ui==0.2.0
django-tag-parser==2.1
dominate==2.1.16
imageio==1.5
matplotlib==1.5.1
moviepy==0.2.2.11
networkx==1.11
nltk==3.1
numpy==1.10.4
Pillow==3.1.1
pydub==0.16.3
pyparsing==2.1.0
pyssim==0.2
pytesseract==0.1.6
python-dateutil==2.4.2
pytz==2015.7
scikit-image==0.11.3
scipy==0.17.0
six==1.10.0
SpeechRecognition==3.2.0
tesseract==0.1.3
textblob==0.11.0
tqdm==3.8.0
wheel==0.26.0
